body {
    background: #222222;
  }
  
  .morph-section {
    width: 150px;
    height: 150px;
  
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -200px;
    font-family: monospace;
    color: #1e852f;
    text-shadow: 0 0.2rem 1rem #0c7b46;
  }
  
  .info {
    font-family: monospace;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    bottom: 20px;
    color: #fff;
    text-shadow: 0 0.2rem 1rem #e0e2e1;
  }
  
  a {
    color: #f9f9f9;
  }

  #terminal {
    height: 100%;
    width: 100%;
  }